.booking-detail-wrapper {
    .details {
        p {
            color: $dark-grey-1;
        }

        div:not(:last-child) {
            margin-right: 3rem;
        }
    }

    .tab-content {
        color: $dark-grey-1;
        font-size: 0.875rem;

        > div:not(.active) {
            display: none;
        }

        .title {
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        .table {
            font-size: 0.875rem;
            color: $dark-grey-1;
        }
    }

    .activity-wrapper {
        padding: 25px 30px;
        border-bottom: 1px solid #eaedf3;
        display: flex;
        align-items: flex-start;

        .body {
            .email {
                margin: 0.875rem 0;
                padding: 1.25rem;
                background-color: #fbfbfd;
                border: 1px solid #e2e5ed;
                border-radius: 4px;
            }

            .link {
                font-size: 0.75rem;
            }
        }

        .footer {
            margin-top: 0.875rem;
            color: $light-grey;
            font-size: 0.75rem;

            span:first-child {
                margin-right: 1.75rem;
            }
        }
    }

    .notes-wrapper {
        .note {
            color: $grey-1;
            width: 30%;
            margin: 0.5rem 0 1.125rem 0;
        }
    }
}

.documents-wrapper {
    .documents {
        .document {
            td {
                align-items: center;
                padding: 0.5rem 0;

                a {
                    color: $dark-grey-1;
                }
            }

            .size {
                color: $light-grey;
                margin-left: 1rem;
            }

            img {
                width: 22px;
            }

            .pdf-icon {
                width: 22px;
                background: url('/img/pdf.png');
                margin-right: 1rem;
            }
        }

        table {
            font-size: 0.875rem;
            color: $dark-grey-1;
            vertical-align: middle;

            td:not(:last-child) {
                padding-right: 1rem;
            }
        }
    }
}
