.uik-checkbox__wrapper.custom {
    padding-right: 1rem;

    &:not(.uik-checkbox__toggle):not(.uik-checkbox__radio) {
        .uik-checkbox__label:before {
            width: 20px;
            height: 20px;
            margin: 0;
        }

        .uik-checkbox__checkbox:checked + .uik-checkbox__label:before {
            background-color: #1665d8;
            border-color: #1665d8;
        }
    }

    &:not(.uik-checkbox__toggle):not(.uik-checkbox__radio) .uik-checkbox__label .uik-checkbox__checkboxIcon {
        top: 0;
        left: 0;
    }

    .uik-checkbox__checkboxIcon {
        width: 20px;
        height: 20px;
        padding: 5px;
    }
}
