.inbox-wrapper {
    color: #808080;

    .icon {
        font-size: 20px;
        color: #d8d8d8;

        &.active {
            color: #f9ad3d;
        }
    }

    .menu {
        color: #808080;
        font-size: 14px;

        .count {
            background-color: #f7f7f7;
            border-radius: 4px;
            padding: 4px 8px;
            color: #b3b3b3;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1.13px;
            line-height: 20px;
            text-align: center;
        }

        .menu-option {
            &:hover,
            &.active {
                background-color: #f7f7f7;
                border-radius: 4px;
                cursor: pointer;
                color: #3e3f42;

                .icon,
                .count {
                    color: #3e3f42;
                }
            }
        }
    }

    label {
        margin-bottom: 0;
    }

    .topbar {
        i.fas:hover {
            cursor: pointer;
            color: #3e3f42;
        }
    }

    .form-control {
        border: none;
        color: #808080;
        font-size: 14px;

        &::placeholder {
            color: #ccc;
        }

        &:focus {
            border-bottom: 1px solid #808080;
            border-radius: 0;
            box-shadow: none;
        }
    }

    .btn {
        color: #cccccc;

        &.focus,
        &:focus {
            box-shadow: none;
        }
    }

    .pagination {
        font-size: 14px;
    }

    .uik-docs-icons__icon {
        height: 100%;
    }

    .table {
        color: #808080;
        font-size: 14px;

        .uik-checkbox__wrapper {
            padding: 0;
        }

        tr {
            cursor: pointer;
            border-bottom: 1px solid #eaedf3;
        }
    }
}

.uik-avatar__wrapper {
    .uik-avatar__avatarWrapper {
        .uik-avatar__avatar {
            display: flex;

            span {
                margin: auto;
            }
        }

        .email-avatar {
            background-color: $bisque;

            span {
                color: $chocolate;
            }
        }
    }
}

.email-detail-wrapper {
    .email-body {
        p {
            color: $dark-grey-1;
        }
    }
}

.create-email-wrapper {
    .attachments-wrapper {
        .uik-widget-table__wrapper {
            tr {
                td {
                    border: 1px solid $light-grey-2;

                    &:last-child {
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}
