.issues-wrapper {
    .new-block {
        border-top: 2px solid #34aa44;
    }

    .uik-widget-title__wrapper {
        h3 {
            + span {
                font-size: 14px;
            }
        }
    }

    .uik-widget-table__wrapper {
        .sortable {
            cursor: pointer;

            i {
                font-size: 24px;
                color: $light-grey;
            }
        }

        .uik-checkbox__wrapper {
            margin: 0;
        }

        .notification-wrapper {
            color: $light-grey;

            .icon {
                font-size: 20px;
            }
        }

        .updated-at {
            color: $light-grey;
        }

        .uik-avatar__wrapper {
            .uik-avatar__avatarWrapper {
                margin-right: 0.5rem;
            }
        }

        .more {
            font-size: 24px;
            color: $light-grey;
        }
    }

    table a {
        color: $dark-grey-1;
    }
}
