.leads-wrapper {
    color: $dark-grey-1;
    font-size: 14px;

    .uik-widget__wrapper {
        .uik-widget-title__wrapper {
            .title {
                font-weight: 700;
            }

            .count {
                color: $light-grey;
            }
        }

        &.green {
            border-top: 2px solid $green;
        }

        &.purple {
            border-top: 2px solid $purple;
        }
    }

    .lead-single {
        padding: 25px 30px;
        cursor: pointer;

        &:not(:last-child) {
            border-bottom: 1px solid $light-grey-2;
        }

        &.new-task {
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: $light-grey-2;
                color: $dark-grey-1;
            }

            a {
                color: $light-grey;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &:hover {
            background-color: $light-grey-3;
        }

        &.ui-sortable-helper {
            background-color: white;
            border: 1px solid $light-grey;
            border-radius: 5px;
            z-index: 10;
        }

        .tags-wrapper {
            display: flex;
            padding-bottom: 15px;

            div {
                width: 20px;
                height: 3px;
                background-color: black;
                margin-right: 5px;
                border-radius: 10px;
            }

            .green {
                background-color: $green;
            }

            .yellow {
                background-color: $yellow;
            }

            .orange {
                background-color: $orange;
            }

            .purple {
                background-color: $purple;
            }

            .red {
                background-color: $red;
            }

            .blue {
                background-color: $blue;
            }

            .pink {
                background-color: $pink;
            }

            .grey {
                background-color: $light-grey-3;
            }
        }

        .lead-title {
            font-weight: bold;
            padding-bottom: 20px;
            cursor: pointer;
        }

        .lead-info {
            display: flex;

            .uik-avatar__wrapper {
                .uik-avatar__avatarWrapper {
                    margin-right: 0.5rem;
                    width: 28px;
                    height: 28px;

                    .uik-avatar__avatarPlaceholder {
                        font-size: 10px;
                    }
                }
            }

            div:last-child {
                margin-left: auto;
                display: flex;
                align-items: center;

                .notification-wrapper {
                    display: flex;
                    align-items: center;
                    margin-left: 0.5rem;
                    color: $light-grey;

                    .icon {
                        font-size: 22px;
                        padding: 0 0.5rem;
                        color: $light-grey;
                    }
                }
            }
        }

        .image {
            width: 100%;
            height: 85px;
            border-radius: 5px;
            margin-bottom: 25px;
        }
    }

    .lists {
        display: flex;

        > * {
            flex: 0 0 auto;

            &:not(:first-child) {
                margin-left: 30px;
            }
        }

        &::after {
            content: '';
            flex: 0 0 30px;
        }

        .list {
            width: 350px;
        }
    }
}
