.properties-wrapper {
    .uik-avatar__wrapper {
        .uik-avatar__avatarWrapper {
            .uik-avatar__avatar {
                border-radius: 4px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
            }
        }
    }
}
