.table td,
.table th {
    vertical-align: middle;
}

.m-t-24 {
    margin-top: 24px;
}

.m-b-24 {
    margin-bottom: 24px;
}

.w-100 {
    width: 100%;
}

.b-b {
    border-bottom: 1px solid #eaedf3;
}

.b-l {
    border-left: 1px solid #eaedf3;
}

.b-r {
    border-right: 1px solid #eaedf3;
}

.w-1 {
    width: 1%;
}

.forgot-pwd-wrapper {
    width: 500px;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.uik-social-header__topBarIcon[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 0.6em;
    background: $blue;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header {
    .active {
        color: $blue;
    }

    .icon {
        font-size: 22px;
    }

    .uik-nav-divider__wrapper {
        margin: 0 15px;
    }
}

.uik-calendar__eventDetail {
    .uik-avatar__avatar {
        background-color: #38b249;

        .uikon {
            font-size: 22px;
            margin-top: 7px;
            color: white;
            cursor: pointer;
        }
    }
}

.tag-option {
    margin-right: 0.25rem;

    .color {
        border-radius: 10px;
        width: 9px;
        height: 9px;
    }
    .green {
        background-color: $green;
    }
    .yellow {
        background-color: $yellow;
    }
    .orange {
        background-color: $orange;
    }
    .red {
        background-color: $red;
    }
    .primary {
        background-color: #1875f0;
    }
    .purple {
        background-color: $purple;
    }
    .blue {
        background-color: $blue;
    }
    .pink {
        background-color: $pink;
    }
    .grey {
        background-color: $light-grey-3;
    }
}

.clickable {
    cursor: pointer;
}

.uik-top-bar__wrapper {
    font-size: 14px;

    .uik-nav-icon__wrapper {
        i {
            font-size: 20px;
        }
    }
}

.uik-top-bar-section__wrapper {
    .alerts {
        display: flex;
        align-items: center;
    }
}

.uik-menuDrop__list {
    right: 30px;

    a {
        color: $dark-grey-1;
    }

    button {
        width: 100%;
    }
}

.fixed-icon {
    background-image: linear-gradient(0deg, $blue 0%, $blue-2 100%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.1);
    width: 44px;
    height: 44px;
    margin-left: 30px;
    margin-top: -22px;
    position: absolute;
    text-align: center;

    img {
        width: 22px;
        height: 100%;
    }
}

.section-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: $dark-grey-1;
}

.section-subtitle {
    font-size: 0.875rem;
    color: $light-grey;
}

.grid-icon {
    color: $light-grey;
}

.container-fluid {
    margin: 3rem 0;
}

.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.bookings-wrapper,
.properties-wrapper {
    .header {
        .uik-btn__base {
            i {
                margin-right: 0.5rem;
            }
        }
    }
}

.uik-btn-group__wrapper {
    .uik-input__input {
        display: inline-flex;
        width: auto;
    }

    .uik-btn__base {
        margin: 0;
    }
}

.uik-buildings-signup__left {
    h2 {
        font-weight: 400;
    }
}

.uik-buildings-signup__right {
    h2 {
        font-size: 1.5rem;
    }
}

.not-found {
    text-align: center;
    padding: 1.5rem;
    font-size: 0.875rem;
}

.form-control {
    height: unset;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.tags-wrapper {
    .uik-tag__wrapper {
        cursor: pointer;
    }

    .new-tag {
        padding: 1rem;
        border: 1px solid $light-grey-2;
        position: absolute;
        background-color: white;

        .colours {
            .uik-tag__wrapper {
                width: 30px;
                height: 30px;

                &.active {
                    border: 2px solid $dark-grey-1;
                }
            }
        }

        .close {
            font-size: 12px;
            margin-bottom: 0.5rem;
            cursor: pointer;
        }

        .create-tag {
            .uik-btn__base {
                font-size: 12px;
                padding: 10px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .uik-top-bar__wrapper {
        justify-content: space-around;

        .uik-top-bar-link-container__wrapper {
            display: none;
        }

        .alerts {
            display: none;
        }

        .uik-input__clear {
            display: none;
        }

        .uik-nav-divider__wrapper {
            display: none;
        }

        .uik-avatar__user-name {
            display: none;
        }

        .uik-social-header-user__dropdownArrow {
            display: none;
        }

        .uik-top-bar-section__wrapper {
            &.section-1 {
                margin-right: auto;
                padding: 0 0 0 15px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 414px) {
    .uik-buildings-signup__widgetWrapper {
        width: 100%;

        .uik-buildings-signup__left {
            width: 100%;
            flex-basis: unset;
        }
    }

    .container-fluid {
        margin: 1rem 0;
    }

    .header {
        .icon {
            font-size: 20px;
        }

        .uik-btn__base {
            .btn-text {
                display: none;
            }
        }
    }

    .bookings-wrapper {
        .header {
            .uik-btn__base {
                height: unset;
                padding: 10px;

                i {
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
    }
}
