<template>
    <v-card>
        <v-card-title>
            <span class="headline">{{ translated('editing.title') }}</span>
        </v-card-title>
        <v-card-text>
            <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex xs12 md6>
                        <v-text-field v-model="form.name"
                                      prepend-icon="account_box"
                                      :label="translated('editing.name')"
                                      :error="!!errors.name"
                                      :error-messages="!!errors.name ? errors.name : []"
                        ></v-text-field>
                    </v-flex>

                    <v-flex xs12 md6>
                        <v-select v-model="form.room_type_id"
                                  :items="roomTypes"
                                  :label="translated('editing.room_type')"
                                  item-text="name"
                                  item-value="id"
                                  prepend-icon="map"
                                  :error="!!errors.room_type_id"
                                  :error-messages="!!errors.room_type_id ? errors.room_type_id : []"
                        ></v-select>
                    </v-flex>
                </v-layout>
                <!-- <v-layout wrap>
                    <v-flex xs12 md12>
                        <multiselect v-model="selectedProperties"
                                     :placeholder="translated('editing.select_properties')"
                                     label="name"
                                     track-by="id"
                                     :options="properties"
                                     :multiple="true"
                        ></multiselect>
                    </v-flex>
                </v-layout> -->

                <v-layout wrap>
                    <v-flex xs12 md12>
                        <v-select v-model="form.frequency"
                                  :items="frequencies"
                                  :label="translated('editing.frequency')"
                                  item-text="name"
                                  item-value="id"
                                  prepend-icon="label"
                                  :error="!!errors.frequency"
                                  :error-messages="!!errors.frequency ? errors.frequency : []"
                        ></v-select>
                    </v-flex>
                </v-layout>

                <v-layout wrap v-if="!!owners.length">
                    <v-flex xs12 md12>
                        <v-select v-model="form.owner_id"
                                  :items="owners"
                                  :label="translated('editing.owner')"
                                  item-text="name"
                                  item-value="id"
                                  prepend-icon="account_box"
                                  :error="!!errors.owner_id"
                                  :error-messages="!!errors.owner_id ? errors.owner_id : []"
                        ></v-select>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="success" @click="save()" :loading="loading">{{ translated('editing.save') }}</v-btn>
            <v-btn color="error" @click="cancel()">{{ translated('editing.cancel') }}</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import merged from '../mixins/merged';

    export default {
        name: "EditingForm",
        mixins: [
            merged
        ],
        props: [
            'itemId'
        ],
        methods: {
            getItem(id) {
                this.axios.get(route('clusters.single', this.itemId)).then((response) => {
                    this.form = response.data.form;
                    this.selectedProperties = response.data.properties;
                }).catch((error) => {
                });
            }
        },
        computed: {
            saveRoute() {
                return route('clusters.update', this.itemId);
            },
            translationRoute() {
                return route('clusters.translations');
            }
        },
        watch: {
            itemId(val) {
                if (!val) {
                    return false;
                }

                this.getItem(val);
            }
        }
    }
</script>

<style scoped>

</style>