<template>
  <div class="mt-10">
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              {{ $lang("reservations.fields.period") }}
            </th>
            <th class="text-left">
              {{ $lang("reservations.fields.property") }}
            </th>
            <th class="text-left">
              {{ $lang("reservations.fields.unit") }}
            </th>
            <th class="text-left">
              {{ $lang("reservations.fields.total") }}
            </th>
            <th class="text-left">
              {{ $lang("reservations.fields.status") }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in collection" :key="index" v-if="!request.loading">
            <td class="text-left">
              {{ item.start_date }}
              <v-icon size="13" color="blue">arrow_forward</v-icon>
              {{ item.end_date }}
            </td>
            <td class="text-left">{{ item.property.name }}</td>
            <td class="text-left">{{ item.unit.name }}</td>
            <td class="text-left">{{ item.total }}</td>
            <td class="text-left">{{ item.status }}</td>
          </tr>
          <tr v-if="!collection.length && !request.loading">
            <td colspan="5" class="text-center">
              {{ $lang("main.crud.no_records") }}
            </td>
          </tr>
          <tr v-if="request.loading">
            <td colspan="5" class="text-center">
              <v-progress-circular
                :size="50"
                :width="5"
                color="primary"
                indeterminate
              ></v-progress-circular>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>

    <div class="text-xs-center pt-2">
      <v-pagination
        v-if="pagination.total > pagination.perPage"
        v-model="pagination.page"
        :length="pagination.totalPages"
      >
      </v-pagination>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

import {
  GET_RESERVATIONS
} from "@/store/reservations/actions";

import crud from "@/mixins/crud";

export default {
  name: "ClientReservations",
  mixins: [
    crud
  ],
  props: [
    'active',
    'clientId',
  ],
  data() {
    return {
      filters: {
        order: false,
        sortBy: null,
        client_id: this.clientId
      }
    };
  },
  methods: {
    dataAction() {
      return GET_RESERVATIONS;
    }
  },
  computed: {
    ...mapState({
      request: state => state.reservations.getRequest
    })
  }
};
</script>

<style scoped></style>
