<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-btn icon dark @click="cancel()">
        <v-icon>close</v-icon>
      </v-btn>
      <v-toolbar-title>{{ $lang("clients.title_create") }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn dark text @click="submit()" :loading="loading">{{
          $lang("main.crud.create")
        }}</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-card-text>
      <v-container v-if="!initialized" bg fill-height grid-list-md text-xs-center>
        <v-row justify="center">
          <div class="text-center">
            <v-progress-circular
              :size="70"
              :width="7"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </div>
        </v-row>
      </v-container>
      <v-container grid-list-md v-if="initialized">
        <v-layout wrap>
          <v-flex md12 xs12>
            <v-radio-group row v-model="form.type" :mandatory="false">
              <v-radio
                :label="$lang('clients.type.private')"
                :value="1"
              ></v-radio>
              <v-radio
                :label="$lang('clients.type.company')"
                :value="2"
              ></v-radio>
            </v-radio-group>
          </v-flex>

          <v-flex md6 xs12>
            <v-text-field
              v-model="form.name"
              prepend-icon="account_box"
              :error="!!validation.name"
              :label="$lang('clients.fields.name')"
              :error-messages="!!validation.name ? validation.name : []"
            >
            </v-text-field>
          </v-flex>
          <v-flex>
            <v-autocomplete
              v-model="form.company_id"
              :items="companies"
              :label="$lang('clients.fields.company_assignation')"
              item-text="value"
              item-value="key"
              :error="!!validation.company_id"
              :error-messages="
                !!validation.company_id ? validation.company_id : []
              "
            >
              ></v-autocomplete
            >
          </v-flex>
        </v-layout>
        <v-layout v-if="form.type == 1">
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.first_name"
              :label="$lang('clients.fields.first_name')"
            >
            </v-text-field>
          </v-flex>

          <v-flex md6 xs12>
            <v-text-field
              v-model="form.last_name"
              :label="$lang('clients.fields.last_name')"
            >
            </v-text-field>
          </v-flex>
        </v-layout>
        <v-layout wrap>
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.email"
              prepend-icon="email"
              :label="$lang('clients.fields.email')"
              :error="!!validation.email"
              :error-messages="!!validation.email ? validation.email : []"
            >
            </v-text-field>
          </v-flex>
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.address"
              prepend-icon="place"
              :label="$lang('clients.fields.address')"
            >
            </v-text-field>
          </v-flex>
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.postcode"
              prepend-icon="location_city"
              :label="$lang('clients.fields.postcode')"
            >
            </v-text-field>
          </v-flex>
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.city"
              prepend-icon="location_city"
              :label="$lang('clients.fields.city')"
            >
            </v-text-field>
          </v-flex>
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.state"
              prepend-icon="location_city"
              :label="$lang('clients.fields.state')"
            >
            </v-text-field>
          </v-flex>
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.country"
              prepend-icon="location_city"
              :label="$lang('clients.fields.country')"
            >
            </v-text-field>
          </v-flex>
        </v-layout>
        <v-layout v-if="form.type == 2">
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.company"
              :label="$lang('clients.fields.company')"
              :error="!!validation.company"
              :error-messages="!!validation.company ? validation.company : []"
            >
            </v-text-field>
          </v-flex>
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.taxcode"
              :label="$lang('clients.fields.taxcode')"
            >
            </v-text-field>
          </v-flex>

          <v-flex md6 xs12>
            <v-text-field
              v-model="form.vatcode"
              :label="$lang('clients.fields.vatcode')"
            >
            </v-text-field>
          </v-flex>
          <v-flex md6 xs12>
            <v-text-field
              v-model="form.SDI"
              :label="$lang('clients.fields.SDI')"
            >
            </v-text-field>
          </v-flex>
        </v-layout>
        <v-layout wrap>
          <v-flex md6 xs12>
            <v-select
              v-model="form.language"
              :items="Object.values($lang('main.locales'))"
              prepend-icon="language"
              :label="$lang('clients.fields.language')"
            >
            </v-select>
          </v-flex>
          <v-flex md6 xs12>
            <v-textarea
              v-model="form.notes"
              filled
              :label="$lang('clients.fields.notes')"
            >
            </v-textarea>
          </v-flex>
          <v-flex md12 xs12>
            <vue-tags-input
              v-model="tag"
              :tags="form.tags"
              :autocomplete-items="filteredItems"
              @tags-changed="newTags => (form.tags = newTags)"
              :placeholder="$lang('clients.fields.tags')"
            />
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapState } from "vuex";

import {
  CREATE_CLIENTS,
  CREATE_CLIENTS_RESET
} from "@/store/clients/actions";

import form from "@/pages/clients/mixins/form";

export default {
  name: "CreationForm",
  mixins: [
    form
  ],
  methods: {
    resetAction() {
      return CREATE_CLIENTS_RESET;
    },
    submitAction() {
      return CREATE_CLIENTS;
    },
    submitActionOptions() {
      return this.form;
    }
  },
  computed: {
    ...mapState({
      loading: state => state.clients.creationRequest.loading,
      validation: state => state.clients.creationRequest.validation
    })
  }
};
</script>

<style scoped></style>
