<template>
  <div>
    <h2>{{ $lang("clients.title") }}</h2>

    <v-card class="mx-auto" color="lighten-3" light>
      <v-card-text>
        <v-col cols="12" class="d-flex justify-end">
          <v-btn color="success" class="pull-right" v-if="exportRequest.list.length">
            <download-excel
              class="btn btn-default"
              :data="exportRequest.list"
              :fields="exportHeaders"
              worksheet="My Worksheet"
              :name="`${$lang('clients.title')}.xls`"
            >
              <v-icon>import_export</v-icon>
              {{ $lang("main.crud.export") }}
            </download-excel>
          </v-btn>

          <v-btn @click="openCreation" color="info ml-3">
            <v-icon>add</v-icon> {{ $lang("main.crud.add") }}
          </v-btn>
        </v-col>

        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left" @click="sort('name')">
                  {{ $lang("clients.fields.name") }}
                  <v-icon
                    v-if="filters.sortBy === 'name' && !filters.order"
                    small
                    >arrow_upward</v-icon
                  >
                  <v-icon
                    v-if="filters.sortBy === 'name' && filters.order"
                    small
                    >arrow_downward</v-icon
                  >
                </th>
                <th class="text-left">
                  {{ $lang("clients.fields.type") }}
                </th>
                <th class="text-left">
                  {{ $lang("clients.fields.email") }}
                </th>
                <th class="text-left">
                  {{ $lang("clients.fields.country") }}
                </th>
                <th class="text-left">
                  {{ $lang("clients.fields.city") }}
                </th>
                <th class="text-left">
                  {{ $lang("clients.fields.address") }}
                </th>
                <th class="text-right">
                  {{ $lang("clients.fields.tags") }}
                </th>
                <th class="text-right">
                  {{ $lang("main.crud.actions") }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in collection" :key="index">
                <td class="text-left">{{ item.name }}</td>
                <td class="text-left">{{ item.type_name }}</td>
                <td class="text-left">{{ item.email }}</td>
                <td class="text-left">{{ item.country }}</td>
                <td class="text-left">{{ item.city }}</td>
                <td class="text-left">{{ item.address }}</td>
                <td class="text-left">
                  <v-chip
                    v-for="tag in item.tags"
                    v-bind:key="tag.name"
                    small
                    label
                    class="ml-1"
                    color="deep-purple"
                    text-color="white"
                  >
                    {{ tag.name }}
                  </v-chip>
                </td>
                <td class="text-right">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-icon
                        @click="openEditing(item.id)"
                        small
                        class="mr-2"
                        v-on="on"
                        >edit</v-icon
                      >
                    </template>
                    <span>{{ $lang("main.crud.edit") }}</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-icon
                        @click="openRemoving(item.id)"
                        small
                        class="mr-2"
                        v-on="on"
                        >delete</v-icon
                      >
                    </template>
                    <span>{{ $lang("main.crud.remove") }}</span>
                  </v-tooltip>
                </td>
              </tr>
              <tr v-if="!collection.length">
                <td colspan="8" class="text-center">
                  {{ $lang("main.crud.no_records") }}
                </td>
              </tr v-if="!collection.length">
            </tbody>
          </template>
        </v-simple-table>

        <div class="text-xs-center pt-2">
          <v-pagination
            v-if="pagination.total > pagination.perPage"
            v-model="pagination.page"
            :length="pagination.totalPages"
            :total-visible="10"
          >
          </v-pagination>
        </div>

        <v-layout row justify-center>
          <v-dialog
            v-model="isOpenEditing"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
          >
            <editing-form
              v-if="isOpenEditing"
              :item-id="activeId"
              @cancel="closeEditing"
              @error="failed"
              @success="updated"
            >
            </editing-form>
          </v-dialog>
        </v-layout>

        <v-layout row justify-center>
          <v-dialog
            v-model="isOpenCreation"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
          >
            <creation-form
              v-if="isOpenCreation"
              @cancel="closeCreation"
              @error="failed"
              @success="created"
            >
            </creation-form>
          </v-dialog>
        </v-layout>
        <v-dialog v-model="isOpenRemove" width="300">
          <v-card>
            <v-card-text class="text-center">
              {{ $lang("main.crud.are_you_sure") }}
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="isOpenRemove = false">
                {{ $lang("main.no") }}
              </v-btn>
              <v-btn
                color="primary"
                :loading="deletionLoading"
                @click="remove(activeId)"
              >
                {{ $lang("main.yes") }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapState } from "vuex";

import {
  GET_CLIENTS,
  REMOVE_CLIENTS,
  GET_CLIENTS_EXPORT
} from "@/store/clients/actions";

import crud from "@/mixins/crud";

import EditingForm from "@/pages/clients/EditingForm";
import CreationForm from "@/pages/clients/CreationForm";
import DownloadExcel from "vue-json-excel";

export default {
  name: "ClientsList",
  components: {
    EditingForm,
    CreationForm,
    DownloadExcel
  },
  mixins: [
    crud
  ],
  data() {
    return {
      exportHeaders: {
        "Name": "name",
        "First name": "first_name",
        "Last name": "last_name",
        "Company": "company",
        "Address": "address",
        "Postcode": "postcode",
        "City": "city",
        "Country": "country",
        "Phone": "phone",
        "Mobile": "mobile"
      },
      filters: {
        order: false,
        sortBy: null
      },
    };
  },
  beforeMount() {
    this.$store.dispatch(GET_CLIENTS_EXPORT);
  },
  methods: {
    dataAction() {
      return GET_CLIENTS;
    },
    removeAction() {
      return REMOVE_CLIENTS;
    }
  },
  computed: {
    ...mapState({
      request: state => state.clients.getRequest,
      exportRequest: state => state.clients.getExportRequest,
      deletionLoading: state => state.clients.deletionRequest.loading
    })
  }
};
</script>

<style scoped></style>
