<template>
    <v-app>

        <div>
            <div v-if="!dataLoaded" class="text-xs-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </div>

            <v-btn v-if="dataLoaded" color="info" class="pull-right" @click="openCreation()">
                <v-icon>add</v-icon> {{ translated('list.add') }}
            </v-btn>

            <v-data-table
                    v-if="dataLoaded"
                    :headers="headers"
                    :items="items"
                    :pagination.sync="pagination"
                    :total-items="totalItems"
                    :loading="loading"
                    class="elevation-1">
                <template slot="headers" slot-scope="props">
                    <tr>
                        <th v-for="header in props.headers"
                            :key="header.text"
                            v-bind:class="getClass(header,pagination)"
                            @click="changeSort(header)"
                        >
                            <v-icon v-if="header.sortable" small>arrow_upward</v-icon>
                            <v-icon v-if="header.icon" :color=header.icon_color> {{ header.icon}}</v-icon>
                            {{ translated('list.headers.' + header.text) }}
                        </th>
                    </tr>
                </template>
                <template v-slot:items="props">
                    <td class="text-left">{{ props.item.name }}</td>
                    <td class="text-left">{{ props.item.roomType }}</td>
                    <td class="text-left">{{ props.item.owner }}</td>
                    <td class="justify-center layout px-0">
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-icon small class="mr-2" @click="openEditing(props.item.id)" v-on="on">edit</v-icon>
                            </template>
                            <span>{{ translated('list.edit') }}</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                                <v-icon small class="mr-2" @click="removeItem(props.item.id)" v-on="on">delete</v-icon>
                            </template>
                            <span>{{ translated('list.remove.title') }}</span>
                        </v-tooltip>
                    </td>
                </template>
            </v-data-table>

            <div v-if="dataLoaded" class="text-xs-center pt-2">
                <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
            </div>
        </div>

        <v-layout row justify-center>
            <v-dialog v-model="isOpenEditing" persistent max-width="600px">
                <editing-form :activated="isOpenEditing"
                              :item-id="activeId"
                              @cancel="closeEditing"
                              @error="failed"
                              @success="updated">
                </editing-form>
            </v-dialog>
        </v-layout>

        <v-layout row justify-center>
            <v-dialog v-model="isOpenCreation" persistent max-width="600px">
                <creation-form :activated="isOpenCreation"
                               @cancel="closeCreation"
                               @error="failed"
                               @success="created">
                </creation-form>
            </v-dialog>
        </v-layout>

        <v-snackbar style="z-index: 5110"
                    v-model="notificationExists"
                    :color="notificationColor"
                    :top="true"
                    :right="true"
                    :timeout="3000">
            {{ notificationText }}
        </v-snackbar>

        <v-dialog v-model="isOpenPrompt" width="300">
            <v-card>
                <v-card-text class="text-center">
                    {{ translated('list.remove.are_you_sure') }}
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary"
                           flat
                           @click="isOpenPrompt = false">
                        {{ translated('list.remove.no') }}
                    </v-btn>
                    <v-btn color="primary"
                           flat
                           @click="removeForce">
                        {{ translated('list.remove.yes') }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</template>

<script>
    import dates from '../../mixins/dates';
    import listable from '../../mixins/listable';
    import translator from '../../mixins/translator';
    import notifications from '../../mixins/notifications';

    import EditingForm from './partials/EditingForm';
    import CreationForm from './partials/CreationForm';

    export default {
        name: "ClustersList",
        components: {
            EditingForm,
            CreationForm
        },
        mixins: [
            dates,
            listable,
            translator,
            notifications
        ],
        mounted() {
            this.activated = true;
            this.getData();
        },
        data () {
            return {
                isOpenPrompt: false,
                isOpenEditing: false,
                isOpenCreation: false,
                items: [],
                activeId: null,
                filter: {
                    search: null,
                },
                headers: [
                    {
                        text: 'Name',
                        value: 'name',
                        align: 'left',
                        icon: null,
                        icon_color: 'grey',
                        sortable: true,
                    },
                    {
                        text: 'Room Type',
                        value: 'roomType',
                        align: 'left',
                        icon: null,
                        icon_color: 'grey',
                        sortable: false,
                    },
                    {
                        text: 'Owner',
                        value: 'owner',
                        align: 'left',
                        icon: null,
                        icon_color: 'grey',
                        sortable: false,
                    },
                    {
                        text: 'Actions',
                        value: 'actions',
                        align: 'center',
                        icon: null,
                        icon_color: 'grey',
                        textClass: 'text-center',
                        sortable: false,
                    }
                ]
            }
        },
        methods: {
            getData() {
                this.loading = true;

                this.axios.get(route('clusters.get'), {
                    params: this.getParams()
                }).then((response) => {
                    this.items = response.data.data;
                    this.totalItems = response.data.total;
                    this.loading = false;
                    this.dataLoaded = true;
                }).catch((error) => {
                    this.items = [];
                    this.totalItems = 0;
                    this.loading = false;
                });
            },
            getParams() {
                return {
                    page: this.pagination.page,
                    order: this.pagination.descending,
                    sortBy: this.pagination.sortBy,
                    perPage: this.pagination.rowsPerPage,
                    ...this.filter
                };
            },
            removeItem(id) {
                this.isOpenPrompt = true;
                this.activeId = id;
            },
            removeForce() {
                this.axios.delete(route('clusters.delete', this.activeId)).then((response) => {
                    this.isOpenPrompt = false;
                    this.getData();
                    this.showNotification(this.translated('list.remove.success'), 'success');
                }).catch((error) => {
                });
            },
            closeEditing() {
                this.isOpenEditing = false;
                this.activeId = null;
            },
            closeCreation() {
                this.isOpenCreation = false;
            },
            openCreation() {
                this.isOpenCreation = true;
            },
            openEditing(id) {
                this.isOpenEditing = true;
                this.activeId = id;
            },
            failed(errorMessage) {
                this.closeEditing();
                this.closeCreation();
                this.showNotification(errorMessage, 'error');
            },
            created(created) {
                this.closeCreation();
                this.getData();
                this.showNotification(this.translated('creation.success'), 'success');
            },
            updated(updated) {
                this.closeEditing();
                this.getData();
                this.showNotification(this.translated('editing.success'), 'success');
            }
        },
        computed: {
            translationRoute() {
                return route('clusters.translations');
            }
        },
        watch: {
            filter: {
                handler () {
                    this.getData()
                },
                deep: true
            },
            pagination: {
                handler (newValue, oldValue) {
                    if (!oldValue.totalItems) {
                        return false;
                    }

                    this.getData();
                },
                deep: true
            },
        },
    }
</script>

<style scoped>
    .v-icon {
        display: inline-flex !important;
    }
</style>