footer
{
    position:absolute!important;
    bottom:0;
    width:100%;
}


/*Spinner*/
.spinners .row {
    height: 50px;
    padding: 10px 0;
}

/* ============================ */
/* VARIABLES                    */
/* ============================ */
/* ============================ */
/* SPINNER GENERAL              */
/* ============================ */
.spinner, .spinner:before, .spinner:after {
    width: 4px;
    height: 20px;
    background-color: #00B285;
    border-radius: 2px;
}

.spinner {
    display: inline-block;
    position: relative;
}
.spinner:before, .spinner:after {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
}
.spinner:before {
    left: -6px;
}
.spinner:after {
    left: 6px;
}

/* ============================ */
/* SPINNER BOUNCE BOTTOM        */
/* ============================ */
@-webkit-keyframes bounce-bottom {
    0% {
        height: 5px;
        margin-top: 15px;
    }
    50% {
        height: 20px;
        margin-top: 0px;
    }
    100% {
        height: 5px;
        margin-top: 15px;
    }
}
@keyframes bounce-bottom {
    0% {
        height: 5px;
        margin-top: 15px;
    }
    50% {
        height: 20px;
        margin-top: 0px;
    }
    100% {
        height: 5px;
        margin-top: 15px;
    }
}
.spinner-bounce-bottom {
    -webkit-animation: bounce-bottom 0.6s ease 0.1s infinite;
    animation: bounce-bottom 0.6s ease 0.1s infinite;
}
.spinner-bounce-bottom:before, .spinner-bounce-bottom:after {
    top: auto;
    bottom: 0px;
}
.spinner-bounce-bottom:before {
    -webkit-animation: bounce-bottom 0.6s ease 0s infinite;
    animation: bounce-bottom 0.6s ease 0s infinite;
}
.spinner-bounce-bottom:after {
    -webkit-animation: bounce-bottom 0.6s ease 0.2s infinite;
    animation: bounce-bottom 0.6s ease 0.2s infinite;
}

/* ============================ */
/* SPINNER BOUNCE TOP        */
/* ============================ */
@-webkit-keyframes bounce-top {
    0% {
        height: 5px;
        margin-bottom: 15px;
    }
    50% {
        height: 20px;
        margin-bottom: 0px;
    }
    100% {
        height: 5px;
        margin-bottom: 15px;
    }
}
@keyframes bounce-top {
    0% {
        height: 5px;
        margin-bottom: 15px;
    }
    50% {
        height: 20px;
        margin-bottom: 0px;
    }
    100% {
        height: 5px;
        margin-bottom: 15px;
    }
}


/* ============================ */
/* SPINNER BOUNCE MIDDLE        */
/* ============================ */
@-webkit-keyframes bounce-middle {
    0% {
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    50% {
        height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    100% {
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
@keyframes bounce-middle {
    0% {
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    50% {
        height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    100% {
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

/* ============================ */
/* SPINNER BLINK                */
/* ============================ */
@-webkit-keyframes glow {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #00B285;
    }
    100% {
        background-color: transparent;
    }
}
@keyframes glow {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #00B285;
    }
    100% {
        background-color: transparent;
    }
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.menu-wrapper_left {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    left: unset;
    right: 0!important;
}

.property-list-pagination ul {
    display: flex;
    justify-content: flex-end;
}
