footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

/*Spinner*/
.spinners .row {
    height: 50px;
    padding: 10px 0;
}

/* ============================ */
/* VARIABLES                    */
/* ============================ */
/* ============================ */
/* SPINNER GENERAL              */
/* ============================ */
.spinner,
.spinner:before,
.spinner:after {
    width: 4px;
    height: 20px;
    background-color: #00b285;
    border-radius: 2px;
}

.spinner {
    display: inline-block;
    position: relative;
}

.spinner:before,
.spinner:after {
    content: '';
    position: absolute;
    display: block;
    top: 0px;
}

.spinner:before {
    left: -6px;
}

.spinner:after {
    left: 6px;
}

/* ============================ */
/* SPINNER BOUNCE BOTTOM        */
/* ============================ */
@-webkit-keyframes bounce-bottom {
    0% {
        height: 5px;
        margin-top: 15px;
    }
    50% {
        height: 20px;
        margin-top: 0px;
    }
    100% {
        height: 5px;
        margin-top: 15px;
    }
}

@keyframes bounce-bottom {
    0% {
        height: 5px;
        margin-top: 15px;
    }
    50% {
        height: 20px;
        margin-top: 0px;
    }
    100% {
        height: 5px;
        margin-top: 15px;
    }
}

.spinner-bounce-bottom {
    -webkit-animation: bounce-bottom 0.6s ease 0.1s infinite;
    animation: bounce-bottom 0.6s ease 0.1s infinite;
}

.spinner-bounce-bottom:before,
.spinner-bounce-bottom:after {
    top: auto;
    bottom: 0px;
}

.spinner-bounce-bottom:before {
    -webkit-animation: bounce-bottom 0.6s ease 0s infinite;
    animation: bounce-bottom 0.6s ease 0s infinite;
}

.spinner-bounce-bottom:after {
    -webkit-animation: bounce-bottom 0.6s ease 0.2s infinite;
    animation: bounce-bottom 0.6s ease 0.2s infinite;
}

/* ============================ */
/* SPINNER BOUNCE TOP        */
/* ============================ */
@-webkit-keyframes bounce-top {
    0% {
        height: 5px;
        margin-bottom: 15px;
    }
    50% {
        height: 20px;
        margin-bottom: 0px;
    }
    100% {
        height: 5px;
        margin-bottom: 15px;
    }
}

@keyframes bounce-top {
    0% {
        height: 5px;
        margin-bottom: 15px;
    }
    50% {
        height: 20px;
        margin-bottom: 0px;
    }
    100% {
        height: 5px;
        margin-bottom: 15px;
    }
}

/* ============================ */
/* SPINNER BOUNCE MIDDLE        */
/* ============================ */
@-webkit-keyframes bounce-middle {
    0% {
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    50% {
        height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    100% {
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

@keyframes bounce-middle {
    0% {
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    50% {
        height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    100% {
        height: 4px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

/* ============================ */
/* SPINNER BLINK                */
/* ============================ */
@-webkit-keyframes glow {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #00b285;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes glow {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: #00b285;
    }
    100% {
        background-color: transparent;
    }
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-wrapper_left {
    display: flex;
    align-items: center;
}

.dropdown-menu:not(.datepicker) {
    left: unset;
    right: 0 !important;
}

.card ul > li.active-menu > a {
    color: unset;
}

.card ul > li > a {
    color: #202020;
}

.card ul > .active-menu {
    color: #ffffff;
    background-color: #869ab8;
    border-color: #869ab8;
}

.active-inbox {
    background-color: #f7f7f7 !important;
    color: #ffffff !important;
}

.menu-option {
    cursor: pointer;
}

#the-canvas {
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
}

#the-canvas > div {
    height: 70vh;
    overflow-y: scroll;
}

i:hover,
.delete-policy-document {
    cursor: pointer;
}

.navbar-nav .icon {
    font-size: initial !important;
}

aside .report-list {
    list-style-type: none;
}

.report-list .fa-arrow-right {
    margin-right: 0 !important;
    font-size: 9px;
}

/* inbox top header*/

.mail-top-header {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons-wrapper {
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 25%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

.icons-wrapper .form-check {
    margin: 0 !important;
    width: 25px;
    height: 50px;
}

.icons-wrapper .form-check .form-check-sign:not(.check-all)::before {
    top: 6px;
}

.inbox-icons-wrapper {
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 16%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}

.inbox-icons-wrapper .form-check {
    margin-top: 0.2rem;
}

.inbox-from-wrapper {
    width: 30%;
}

.inbox-subject-wrapper {
    width: 39%;
}

.inbox-date-wrapper {
    width: 15%;
}

.search-block {
    width: 35%;
}

.email-create .blog-card {
    margin-bottom: 0;
}

.card-header.attachments {
    padding-top: 0;
    padding-bottom: 0;
}

.shadow-soft.first {
    padding-bottom: 0 !important;
}

.btn.compose {
    color: #274991 !important;
}

.btn.compose:hover,
.add-property:hover {
    color: #fff !important;
}

.shadow-soft ul li:hover {
    background-color: #f7f7f7 !important;
}

.navbar-icon-item {
    position: relative;
}

.navbar-icon-item .navbar-icon-item_number {
    position: absolute;
    bottom: -6px;
    left: 15px;
}

.navbar .navbar-nav .mega-dropdown .dropdown-menu {
    width: calc(50% - 20px);
    left: 200px;
    padding: 20px;
    border-radius: 0.2rem;
    overflow: hidden;
}

#template-page .nav-link,
#template-page .tab-pane {
    transition: 0.3s !important;
}

.property-list-pagination ul {
    display: flex;
    justify-content: flex-end;
}

.timeline-item .single-item {
    font-size: 0.7rem;
    padding-top: 0;
    padding-bottom: 0;
}

.avatar-lg {
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.border:not(.top-item) {
    border-top: none !important;
}

.invalid-text {
    color: #fa5252;
}

.invalid-input {
    border: 1px solid #fa5252;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #b94a48;
}

.control-group.error > label,
.control-group.error > div > label,
.control-group.error .help-block,
.control-group.error .help-inline {
    color: #b94a48;
}

.login-logo {
    height: 40px;
}

/*.bolder-font{*/
/*    font-weight: 900!important;*/
/*}*/

.fa-trash {
    color: #fa5252;
}

.merge-rows td {
    border-top: none;
    padding-top: 0;
}

.red-td {
    background-color: #ef49497a;
    color: darkred;
}

.green-td {
    background-color: #c2f6b5ab;
    color: darkgreen;
}

.red-td,
.green-td,
.table-overview .sections th {
    text-align: center;
}

.error-message {
    color: #b94a48;
}

.error-block {
    border: 1px solid #b94a48;
    color: #b94a48;
}

.email-count {
    color: #202020;
}

.section-sm {
    padding-top: 1rem;
}

.dataTables_paginate.paging_bootstrap.pagination {
    margin-left: auto !important;
}

.dataTables_paginate.paging_bootstrap.pagination ul {
    list-style: none !important;
    display: flex !important;
}

.dataTables_paginate.paging_bootstrap.pagination ul li {
    font-size: 1rem !important;
    font-weight: 300 !important;
    line-height: 1.6 !important;
}

.dataTables_paginate.paging_bootstrap.pagination ul li.active {
    background-color: #274991 !important;
    border-color: #274991 !important;
}

.dataTables_paginate.paging_bootstrap.pagination ul li.active a {
    color: #fff !important;
}

.dataTables_paginate.paging_bootstrap.pagination ul li a {
    padding: 10px !important;
}

.dataTables_paginate.paging_bootstrap.pagination ul li:hover {
    background-color: #e9ecef !important;
}

@media (max-width: 700px) {
    #staff-table {
        display: block !important;
    }
}

.insurance-pdf-preview,
.clickable-name,
#common-report-table tr {
    cursor: pointer;
}

#modal-attach-to .modal-lg,
#emailAsPdf .modal-lg {
    min-width: 100% !important;
}

.the-canvas {
    width: 100%;
}

#modal-attach-to {
    overflow: auto !important;
    z-index: 1116 !important;
}

.modal {
    z-index: 1115 !important;
}

#the-canvas1 {
    width: 100%;
}

#modal-search {
    z-index: 1111;
}

#email_details .select2 {
    width: 100% !important;
}

#base-modal {
    z-index: 9999 !important;
}

.modal-backdrop {
    z-index: 1100;
}

body > .modal-backdrop:nth-of-type(3) {
    z-index: 1115;
}

.modal-content {
    z-index: 1110;
}

.select2-dropdown {
    z-index: 2000 !important;
}

.contact-modal-z {
    z-index: 1151 !important;
}

#table {
    overflow: scroll;
}

.dataTables_wrapper {
    overflow: hidden !important;
}

.sortTables_wrapper {
    overflow-x: scroll;
}

.datatable {
    width: 100% !important;
    overflow-x: scroll;
}

.dataTables_filter {
    display: none;
}

.input-search {
    width: 100px;
}

#email-iframe {
    width: 100% !important;
    height: 100% !important;
}

.email-iframe {
    height: 100vh;
}
